<section class="bg-light">
  <div class="rounded-0 m-0 py-3">
    <div class="container">
      <h3 class="text-center mb-0">{{ appState?.companyLoanSettings.company.name }}</h3>
    </div>
  </div>
  <los-section-title title="Complete"></los-section-title>
</section>
<main class="container py-4">
  <div class="row">
    <div class="col-12">

      <div class="d-flex flex-column align-items-center">
        <i class="far fa-check-circle fa-5x text-secondary"></i>
        <h4 class="mt-3 text-center">You have successfully submitted your loan application.</h4>
        <p class="text-center mt-3">
          An email notification has been sent to your address as proof of your confirmation.<br/>
          A corresponding has also been set to your co-borrower for his/her confirmation by completing their personal information.
        </p>
      </div>
      <!-- hr doesn't seem to work within flex container -->
      <hr class="my-4">
      <div class="d-flex flex-column align-items-center">
        <h5 class="mt-3">Your loan reference number is:</h5>
        <p class="reference-number my-3 font-weight-bold">{{ appState?.loanDetails.referenceNumber }}</p>
        <p class="text-center mt-3">
          Please take note of your reference number. <br/>
          You will need this to view your application status.
        </p>
        <h6 class="mt-3">To check your loan status, visit:</h6>
        <a routerLink="/b/check-loan-status">http://url.com</a>
      </div>
    </div>
  </div>
</main>
