@import 'app';

.attachments-list {
  border-right: 1px solid #e5e5e5;
  max-height: 400px;
  overflow-y: auto;
}

.attachments {
  list-style-type: none;
  padding: 0 0 0 10px;

  > li {
    cursor: pointer;
  }

  .selected {
    color: $secondary;
  }
}

.imagePreviewContainer {
  height: 300px;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
}

.form-control-height {
  height: calc(1.5em + 0.75rem + 2px);
}