<form [formGroup]="completeAddressForm" (submit)="submit(true)">
  <div class="row">
    <div class="col-12">
      <!-- present address -->
      <h6 class="font-weight-bold">Present Address</h6>
      <hr class="mt-0">
      <los-address-form #presentAddressForm
                        [readonly]="readonly" [formGroup]="presentFormGroup" [type]="'present'"></los-address-form>
      <!-- length of stay -->
      <ng-container *ngIf="!readonly">
        <h6 class="font-weight-bold">Length of stay in present address</h6>
        <hr class="mt-0">
        <div class="row">
          <div class="col-6">
            <los-duration-form [formGroup]="periodOfStay"
                               [errorMessage]="{emptyDuration: 'Please enter your Length of stay at present address'}">
            </los-duration-form>
          </div>
          <div class="col-6"></div>
        </div>
      </ng-container>
      <br>
      <!-- permanent address -->
      <h6 class="font-weight-bold">Permanent Address</h6>
      <hr class="mt-0">
      <div *ngIf="!readonly" class="form-group form-check">
        <input type="checkbox" [(ngModel)]="sameWithPresent" [ngModelOptions]="{standalone: true}" name="sameWithPresent"
               class="form-check-input" id="sameWithPresent" (change)="adjustPermanentValues($event)">
        <label class="form-check-label" for="sameWithPresent">Same with present address</label>
      </div>
      <los-address-form #permanentAddressForm [readonly]="readonly" [formGroup]="permanentFormGroup"></los-address-form>
    </div>
  </div>
  <!-- add hidden submit button to retain submit on enter keypress functionality -->
  <button *ngIf="!readonly" type="submit" class="d-none"></button>
</form>
