<header class="top-nav">
  <!-- left side -->
  <div>
    <img class="rbank-logo" src="/assets/images/robinsonsbank1.png" alt="Robinson Bank Logo">
  </div>
  <!-- right side -->
  <div>
    <img class="go-salary-logo" src="/assets/images/go-salary1.png" alt="Go Salary! Logo">
    <!--<ng-container *ngIf="userInfo?.companies.length > 1">-->
      <!--<span class="vertical-rule"></span>-->
      <!--<select class="custom-select select-company" placeholder="Select Company" (change)="selectCompany($event.target.value)"-->
              <!--[(ngModel)]="selectedCompanyId">-->
        <!--<option *ngFor="let company of userInfo?.companies" [value]="company.id">{{ company.name }}</option>-->
      <!--</select>-->
    <!--</ng-container>-->
  </div>
</header>
