.profile-img {
	height: 23px;
	max-height: 23px;
}

.ml-5 {
	margin-left: 5px;
}

.menu-section button {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	border: none !important;
	white-space: nowrap;
}
.menu-section button i {
	font-size: 28px;
	color: #000;
	margin-right: 19px;
	margin-top: -4px;
	float: left;
	width: 24px;
}