<footer class="footer bg-light">
  <div class="container text-center py-4">
    <h6 class="text-primary">Should you have any concerns or inquiries</h6>
    <a href="mailto:C3@robinsonsbank.com.ph" class="btn-link"><u>C3@robinsonsbank.com.ph</u></a><br>
    <a href="" class="btn-link"><u>02 123-4567</u></a>
  </div>
</footer>

<footer class="footer">
  <div class="col-12 py-3">
    <div class="d-md-flex justify-content-between align-items-center">
      <section class="small mb-md-0 mb-3 text-md-left text-center">
        <div>
          <a href="https://www.robinsonsbank.com.ph/privacy-policy" target="_blank" class="btn-link">Privacy Policy</a>
          <small class="text-black-50 px-1">|</small>
          <a href="" target="_blank" class="btn-link">Terms and Conditions</a>
          <small class="text-black-50 px-1">|</small>
          <a href="https://www.robinsonsbank.com.ph/customer-care" target="_blank" class="btn-link">Contact</a>
        </div>
        <p class="m-0">Robinsons Bank 2019</p>
      </section>
      <section>
        <a href="http://www.jgsummit.com.ph/" target="_blank"><img height="50" src="assets/images/jglogo.png"></a>
      </section>
    </div>
  </div>
</footer>
