$primary: #003138;
$secondary: #73bf45;
$gray-700: #505050;
$gray-400: #bebebe;
$gray-100: #f8f7fc;
$yellow: #FFD36A;
$border-radius: 5px;
$border-radius-lg: 10px;
$border-radius-sm: 2px;
$cyan: #c1e1e2;
$red: #e45768;
$teal: #f0f7e9;
$green: #61C577;
$input-btn-focus-width: .1rem;

$light: #f8f7fc !default;

$font-family-sans-serif: -apple-system, "Poppins", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
