<los-loading-wrapper [isLoading]="isLoading">
  <div class="modal-header">
    <h5 class="modal-title">One Time Password</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0 container-fluid">
    <form (submit)="confirmOtp()" class="d-flex flex-column align-items-center">
      <p class="text-center my-4">Please enter the OTP that was sent to your mobile number ending in <strong>{{ parsedMobileNumber }}</strong>.</p>
      <h6 class="px-3 small text-center text-muted">
        OTP is valid within <strong>3 minutes</strong> only.
      </h6>
      <div class="form-group mb-4">
        <input id="otpCode" type="text" class="form-control otp-code-input" name="otpCode" [(ngModel)]="otpCode"
               (ngModelChange)="reset()" maxlength="6"/>
        <los-form-input-error class="text-center" [showMessage]="invalidOtp" message="Invalid OTP"></los-form-input-error>
      </div>
      <button type="submit" class="btn btn-lg btn-secondary mb-4 px-5 font-weight-bold text-uppercase"
              [ngClass]="{'disabled': isConfirmDisabled()}" [disabled]="isConfirmDisabled()">
        Confirm
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-secondary" (click)="activeModal.close('confirm')">Confirm</button>-->
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
  </div>
</los-loading-wrapper>
