<div class="container-fluid card">
  <los-loading-wrapper [isLoading]="isLoading">
    <div class="card-body">
      <div class="row">
        <div *ngIf="error" class="col text-danger">{{ error }}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="card-title">{{title}}</h5>
          <h6 *ngIf="parentAccountBalances.length" (click)="onUpOneStep()" class="card-subtitle mb-2 text-muted cursor-pointer"><i class="fa fa-arrow-up"></i> Back to {{parentAccountBalances[0].account.name}}</h6>
          <h6 *ngIf="!parentAccountBalances.length" class="card-subtitle mb-2 text-muted">Select a region to view child balances (where applicable)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <google-chart #chart
             [type]="type"
             [data]="data"
             [columnNames]="columnNames"
             [options]="options"
             [width]="width"
             [height]="height"
             (select)="onSelect($event)"
             (ready)="onReady()">
          </google-chart>
        </div>
      </div>
    </div>
  </los-loading-wrapper>
</div>
