.no-padding {
  padding: 0;
}

dgte-erp-account-balance .row,
dgte-erp-comparative-account-balance .row, {
  width: 100%;
}

dgte-erp-account-balance .container,
dgte-erp-comparative-account-balance .container,
dgte-erp-comparative-account-balance container {
  padding-left: 0;
  padding-right: 0;
}

.primary-total {
  border-bottom: 2px solid black;
}

.secondary-total-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary-total {
  border-bottom: 1px dotted black;
}

.year-header {
  border-bottom: 2px solid black;
}

.comparison-year-left {
  padding-left: 30px;
  padding-right: 0px;
}