      <div class="common-banner login-banner forcefullwidth_wrapper_tp_banner">
        <div class="container">


          <!-- Not logged in banner -->
          <div *ngIf="!displayName" class="row">
            <div class="main-banner-text">
              <span>You are not logged in</span>
              <ul class="banner-nav">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="shopping-cart.html">Shop</a>
                </li>
                <li class="active">
                  <a href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Logged in banner -->
          <div *ngIf="displayName" class="row">
            <div class="main-banner-text">
              <span><img [src]="displayImage" />&nbsp;{{displayName}}</span>
              <ul class="banner-nav">
                <li>
                  <a routerLink="/">Home</a>
                </li>
                <li>
                  <a href="shopping-cart.html">Shop</a>
                </li>
                <li class="active">
                  <a href="javascript:;" (click)="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<div *ngIf="displayName" class="content">
  <div class="login-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="account-login">
            <h3>
              <img id="img-bag-of-rupees" src="assets/images/kaiten/bag-of-rupees.png" alt="" /> My wallet<br>
              <rupee-amount [amount]="1250" [title]="'You have this many rupees'"></rupee-amount>
              <peso-amount [amount]="1000" [title]="'You have this many pesos'"></peso-amount>
            </h3>
            <span class="discover">Your wallet contains both your Rupees and Account balance in Philippine Pesos.</span>
          </div>
          <div class="account-login">
            <h3>
              <img id="img-bag-of-rupees" src="assets/images/kaiten/bag-of-rupees.png" alt="" /> My Delivery Addresses<br>
            </h3>
            <span class="discover">These are your saved delivery addresses</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-sm-offset-1">
          <div class="register-now">
            <h3>My transaction history</h3>
            <span class="benifits">A record of your past transactions.</span>
            <form class="register-now-form">
              <ul class="clearfix">
                <li><input type="text" placeholder="NanoEvil|" />
                </li>
                <li><input type="text" placeholder="Email Address" />
                </li>
                <li><input type="text" placeholder="Username" /></li>
                <li><input type="text" placeholder="Phone" /></li>
                <li><input type="password" placeholder="Password" />
                </li>
                <li><input type="password"
                  placeholder="Re - Password" /></li>
                <li><input type="submit" value="register now" /></li>
              </ul>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>