<ng-container *ngIf="!readonly; else review">
  <form [formGroup]="employmentDetailsForm" autocomplete="off" novalidate>
    <!-- borrower -->
    <div *ngIf="type == 'borrower'" class="row">
      <div class="col-md-6">
        <dl class="row mb-0">
          <dt class="col-sm-5 col-12 text-left text-sm-right">Company Name</dt>
          <dd class="col-sm-7 col-12">{{ companyName.value }}</dd>

          <dt class="col-sm-5 col-12 text-left text-sm-right">Rank</dt>
          <dd class="col-sm-7 col-12">{{ formatValues(rank.value) }}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="row mb-0">
          <dt class="col-sm-5 col-12 text-left text-sm-right">Tenure</dt>
          <dd class="col-sm-7 col-12">
            <los-duration-display id="tenure" [formGroup]="tenure"></los-duration-display>
          </dd>
        </dl>
      </div>
      <div class="col-12">
        <hr class="mt-0"/>
      </div>
      <div class="col-md-6">
        <!-- companyName -->
        <!--<div class="form-group">-->
          <!--<label for="companyName">Company Name</label>-->
          <!--<p><label id="companyName" aria-label="companyName">{{employmentDetailsForm.controls.companyName.value}}</label></p>-->
          <!--<los-form-input-error [showMessage]="companyName.invalid && (companyName.dirty || companyName.touched) && companyName.errors.required"-->
                                <!--[message]="'Please enter your Company Name.'">-->
          <!--</los-form-input-error>-->
        <!--</div>-->
        <!-- govtId -->
        <div class="form-group">
          <label for="govtId">Government I.D. <span *ngIf="!readonly" class="text-danger">*</span></label>
          <los-government-id-input id="govtId" [control]="govtId"></los-government-id-input>
          <los-form-input-error [showMessage]="govtId.invalid && (govtId.dirty || govtId.touched) && govtId.errors.required"
                                [message]="'Please enter your Government I.D.'">
          </los-form-input-error>
          <los-form-input-error [showMessage]="govtId.invalid && (govtId.dirty || govtId.touched) && govtId.errors.maxlength"
                                [message]="'Character count exceeded'">
          </los-form-input-error>
        </div>
        <!-- govtIdNumber -->
        <div class="form-group">
          <label for="govtIdNumber">Government I.D. Number <span *ngIf="!readonly" class="text-danger">*</span></label>
          <!-- we don't set any form control name here since we manually set the value after formatting it via Cleave -->
          <input id="govtIdNumber" type="text" class="form-control" [placeholder]="govIdNumberPlaceholder"
                 aria-label="govtIdNumber" [disabled]="!govtId.value ? true : false" (blur)="govtIdNumber.markAsDirty()"/>
          <los-form-input-error [showMessage]="govtIdNumber.invalid && (govtIdNumber.dirty || govtIdNumber.touched) && govtIdNumber.errors.minlength"
                                [message]="govIdNumberError">
          </los-form-input-error>
          <los-form-input-error [showMessage]="govtIdNumber.invalid && (govtIdNumber.dirty || govtIdNumber.touched) && govtIdNumber.errors.required"
                                [message]="'Please enter your I.D. No'">
          </los-form-input-error>
          <los-form-input-error [showMessage]="govtIdNumber.invalid && (govtIdNumber.dirty || govtIdNumber.touched) && govtIdNumber.errors.maxlength"
                                [message]="'Character count exceeded'">
          </los-form-input-error>
        </div>
      </div>
      <div class="col-md-6">
        <!-- employeeId -->
        <div class="form-group">
          <label for="employeeId">Employee I.D. Number <span *ngIf="!readonly" class="text-danger">*</span></label>
          <input id="employeeId" formControlName="employeeId" type="text" class="form-control" placeholder="Input Employee I.D. Number"
                 aria-label="employeeId"/>
          <los-form-input-error [showMessage]="employeeId.invalid && (employeeId.dirty || employeeId.touched) && employeeId.errors.required"
                                [message]="'Please enter your Employee I.D. Number'">
          </los-form-input-error>
          <los-form-input-error [showMessage]="employeeId.invalid && (employeeId.dirty || employeeId.touched) && employeeId.errors.maxlength"
                                [message]="'Character count exceeded'">
          </los-form-input-error>
        </div>
        <!-- position -->
        <div class="form-group">
          <label for="position">Position <span *ngIf="!readonly" class="text-danger">*</span></label>
          <input id="position" formControlName="position" type="text" class="form-control" placeholder="Input Position"
                 aria-label="position"/>
          <los-form-input-error [showMessage]="position.invalid && (position.dirty || position.touched) && position.errors.required"
                                [message]="'Please enter your Position'">
          </los-form-input-error>
          <los-form-input-error [showMessage]="position.invalid && (position.dirty || position.touched) && position.errors.maxlength"
                                [message]="'Character count exceeded'">
          </los-form-input-error>
        </div>
        <!-- rank -->
        <!--<div class="form-group">-->
          <!--<label for="rank">Rank</label>-->
          <!--<p><label id="rank" aria-label="rank">{{ formatValues(rank.value) }}</label></p>-->
        <!--</div>-->
        <!-- tenure -->
        <!--<div class="form-group">-->
          <!--<label for="tenure">Tenure</label>-->
          <!--<los-duration-display id="tenure" [formGroup]="tenure"></los-duration-display>-->
        <!--</div>-->
      </div>
    </div>
    <!-- co maker -->
    <div *ngIf="type == 'coMaker'" class="row">
      <div class="col-12">
        <!-- employeeId -->
        <div class="form-group">
          <label for="employeeId">Employee I.D. Number <span *ngIf="!readonly" class="text-danger">*</span></label>
          <input id="employeeId" formControlName="employeeId" type="text" class="form-control" placeholder="Input Employee I.D. Number"
                 aria-label="employeeId"/>
          <los-form-input-error [showMessage]="employeeId.invalid && (employeeId.dirty || employeeId.touched) && employeeId.errors.required"
                                [message]="'Please enter your Employee I.D. Number'">
          </los-form-input-error>
          <los-form-input-error [showMessage]="employeeId.invalid && (employeeId.dirty || employeeId.touched) && employeeId.errors.maxlength"
                                [message]="'Character count exceeded'">
          </los-form-input-error>
        </div>
      </div>
    </div>
    <!-- add hidden submit button to retain submit on enter keypress functionality -->
    <button type="submit" class="d-none"></button>
  </form>
</ng-container>

<ng-template #review>
  <div class="row">
    <ng-container *ngIf="type === 'borrower'">
      <div class="col-lg-6">
        <dl class="row mb-0 mb-lg-3">
          <dt class="col-sm-5 col-12 text-left text-sm-right">Company Name</dt>
          <dd class="col-sm-7 col-12">{{ companyName.value }}</dd>

          <dt class="col-sm-5 col-12 text-left text-sm-right">Employee I.D. Number</dt>
          <dd class="col-sm-7 col-12">{{ employeeId.value }}</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <dl class="row">
          <dt class="col-sm-5 col-12 text-left text-sm-right">Government I.D.</dt>
          <dd class="col-sm-7 col-12">{{ govtId.value }}</dd>

          <dt class="col-sm-5 col-12 text-left text-sm-right">I.D. No.</dt>
          <dd class="col-sm-7 col-12">{{ govtIdNumber.value }}</dd>
        </dl>
      </div>
    </ng-container>

    <div class="col-lg-12" *ngIf="type === 'coMaker'">
      <dl class="row mb-0 mb-lg-3">
        <dt class="col-sm-2 col-12 text-left text-sm-right">Employee I.D. Number</dt>
        <dd class="col-sm-10 col-12">{{ employeeId.value }}</dd>
      </dl>
    </div>
  </div>
</ng-template>
