<los-loading-wrapper [isLoading]="isSubmitting">
  <div id="admin-login">
    <div class="row logo">
      <img class="robinsons-bank-logo" src="/assets/images/robinsonsbank1.png" alt="Robinson's Bank Logo">
    </div>
    <!--login form-->
    <form autocomplete="off" novalidate (submit)="login()" [formGroup]="loginForm" #form="ngForm">
      <div class="label">
        Log in to your account
        <los-form-input-error [showMessage]="showInvalidLoginMessage"
                              [message]="'Invalid username/password'">
        </los-form-input-error>
      </div>
      <div class="row email-address">
        <small>Email Address</small>
        <input type="text" class="form-control" id="email" formControlName="email">
        <los-form-input-error [showMessage]="(email.invalid && form.submitted) && email.errors.required"
                              [message]="'Please enter your Email Address'">
        </los-form-input-error>
      </div>
      <div class="row password">
        <small>Password</small>
        <input type="password" class="form-control" id="password" formControlName="password">
        <los-form-input-error [showMessage]="(password.invalid && form.submitted) && password.errors.required"
                              [message]="'Please enter your Password'">
        </los-form-input-error>
      </div>
      <div class="row login-btn">
        <button type="submit" class="btn btn-secondary">LOG IN</button>
      </div>
      <div class="row">
    <span class="remember-me ml-3">
      <input class="form-check-input" type="checkbox" value="" name="rememberMe">
      <small class="form-check-label">
        Remember me?
      </small>
    </span>
        <small class="forgot-password ml-auto"><a href="#forget-password">Forgot password?</a></small>
      </div>
    </form>
  </div>
</los-loading-wrapper>
