<los-section-title title="Loan Details" action="Log out" (triggerAction)="logout()"></los-section-title>
<main class="container py-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4">Loan Reference #z {{ completeLoanDetails?.loanReferenceNumber }}</h2>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- loan information -->
              <h6 class="font-weight-bold text-secondary">Loan Information</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.fullName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Status</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails.externalStatus }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Monthly Amortization</dt>
                    <dd class="col-sm-7 col-12">&#8369; {{ computedMonthlyAmortization | number: '1.2-2' }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Monthly Salary</dt>
                    <dd class="col-sm-7 col-12">&#8369; {{ completeLoanDetails?.borrower.grossSalary | number:'1.2-2' }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Loan Amount</dt>
                    <dd class="col-sm-7 col-12">&#8369; {{ completeLoanDetails?.amount | number:'1.2-2' }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Term (Months)</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.termMonths }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Loan Purpose</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.loansPurpose }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Date Applied</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.status !== 'PENDING_FOR_COMAKER_APPROVAL' ? (completeLoanDetails?.dateApplied | readableDate) : '' }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Endorsement Date</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.endorsementDate ? (completeLoanDetails?.endorsementDate | readableDate) : '' }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Maturity Date</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.maturityDate ? (completeLoanDetails?.maturityDate | readableDate) : '' }}</dd>
                  </dl>
                </div>
              </div>
              <!-- employment information -->
              <h6 class="font-weight-bold mt-md-3 text-secondary">Employment Information</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Company Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.companyName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Employee I.D.</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.employeeId }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Rank</dt>
                    <dd class="col-sm-7 col-12">{{ reformattedRank }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Position</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.position }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Tenure in the Company</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.tenuredYears }} Year/s and {{ completeLoanDetails?.borrower.employmentDetails.tenuredMonths }} Month/s</dd>

                    <dt class="col-sm-5 col-12 text-left">Government I.D.</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.govtId }}</dd>

                    <dt class="col-sm-5 col-12 text-left">I.D. No.</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.employmentDetails.govtIdNumber }}</dd>
                  </dl>
                </div>
              </div>
              <!-- personal information -->
              <h6 class="font-weight-bold text-secondary">Personal Information</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">First Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.firstName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Middle Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.middleName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Last Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.lastName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Gender</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.gender }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Civil Status</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.civilStatus }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Date of Birth</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.dateOfBirth }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Place of Birth</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.placeOfBirth }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Email Address</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.emailAdd }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Mobile Number</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.mobileNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Landline Number (Home/Work)</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.landLineAreaCode }} {{ completeLoanDetails?.borrower.landLineNumber }}</dd>
                  </dl>
                </div>
              </div>
              <!-- present address -->
              <h6 class="font-weight-bold text-secondary">Present Address</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Home Number</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.homeNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Street Number</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.streetNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Street Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.streetName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">House Ownership</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.houseOwnership }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Province</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.province }}</dd>

                    <dt class="col-sm-5 col-12 text-left">City</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.city }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Zip Code</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.presentAddress.zipCode }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Length of Stay</dt>
                    <dd class="col-sm-7 col-12">
                      {{ completeLoanDetails?.borrower.presentAddress.lengthOfStayYears }} Year/s and {{ completeLoanDetails?.borrower.presentAddress.lengthOfStayMonths }} Month/s
                    </dd>
                  </dl>
                </div>
              </div>
              <!-- Permanent address -->
              <h6 class="font-weight-bold text-secondary">Permanent Address</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Home Number</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.homeNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Street Number</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.streetNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Street Name</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.streetName }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Province</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.province }}</dd>

                    <dt class="col-sm-5 col-12 text-left">City</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.city }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Zip Code</dt>
                    <dd class="col-sm-7 col-12">{{ completeLoanDetails?.borrower.permanentAddress.zipCode }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-top-margin">
            <div class="card-body">
              <h6 class="font-weight-bold text-secondary">Attachments</h6>
              <hr class="mt-0">
              <span class="text-underline view-attachments" (click)="openAttachments()">View Attachments</span>
            </div>
          </div>
        </div>
      </div>
      <!-- co makers -->
      <ng-container *ngIf="completeLoanDetails?.comakers.length > 0">
        <div class="card card-top-margin">
          <div class="card-body">
            <h5 class="font-weight-bold text-secondary">Co Makers</h5>
            <ng-container *ngFor="let comaker of completeLoanDetails?.comakers">
              <h6 class="font-weight-bold mt-4 text-secondary">{{ comaker.fullName }}</h6>
              <hr class="mt-0">
              <div class="row">
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">First Name</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.firstName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Middle Name</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.middleName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Last Name</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.lastName }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Gender</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.gender }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Civil Status</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.civilStatus }}</dd>
                  </dl>
                </div>
                <div class="col-lg-6">
                  <dl class="row">
                    <dt class="col-sm-5 col-12 text-left">Email Address</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.emailAdd }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Mobile Number</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.mobileNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Landline Number (Home/Work)</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.landLineAreaCode }} {{ comaker.landLineNumber }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Date of Birth</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.dateOfBirth }}</dd>

                    <dt class="col-sm-5 col-12 text-left">Place of Birth</dt>
                    <dd class="col-sm-7 col-12">{{ comaker.placeOfBirth }}</dd>
                  </dl>
                </div>
              </div>
              <div class="row" *ngIf="comaker.presentAddress || comaker.permanentAddress">
                <div class="col-12">
                  <h6 class="font-weight-bold text-secondary">Present Address</h6>
                  <hr class="mt-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <dl class="row mb-0 mb-lg-3">
                        <dt class="col-sm-5 col-12 text-left">Home Number</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.homeNumber }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Street Number</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.streetNumber }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Street Name</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.streetName }}</dd>

                        <dt class="col-sm-5 col-12 text-left">House Ownership</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.houseOwnership }}</dd>
                      </dl>
                    </div>
                    <div class="col-lg-6">
                      <dl class="row">
                        <dt class="col-sm-5 col-12 text-left">Province</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.province }}</dd>

                        <dt class="col-sm-5 col-12 text-left">City</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.city }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Zip Code</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.presentAddress?.zipCode }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Length of Stay</dt>
                        <dd class="col-sm-7 col-12">
                          {{ comaker.presentAddress?.lengthOfStayYears }} Year/s and {{ comaker.presentAddress?.lengthOfStayMonths }} Month/s
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h6 class="font-weight-bold text-secondary">Permanent Address</h6>
                  <hr class="mt-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <dl class="row mb-0 mb-lg-3">
                        <dt class="col-sm-5 col-12 text-left">Home Number</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.homeNumber }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Street Number</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.streetNumber }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Street Name</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.streetName }}</dd>
                      </dl>
                    </div>
                    <div class="col-lg-6">
                      <dl class="row">
                        <dt class="col-sm-5 col-12 text-left">Province</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.province }}</dd>

                        <dt class="col-sm-5 col-12 text-left">City</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.city }}</dd>

                        <dt class="col-sm-5 col-12 text-left">Zip Code</dt>
                        <dd class="col-sm-7 col-12">{{ comaker.permanentAddress?.zipCode }}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>



      <hr/>
      <div class="mt-3 d-flex">
        <button class="btn btn-secondary" type="button" [routerLink]="['../loan-status']">
          Go back
        </button>
      </div>
    </div>
  </div>
</main>
