<div class="common-banner checkout-banner forcefullwidth_wrapper_tp_banner">
  <div class="container">
    <div class="row">
      <div class="main-banner-text col-12">
        <span>Checkout</span>
        <ul class="banner-nav">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="shopping-cart.html">Shop</a>
          </li>
          <li class="active">
            <a href="#">Checkout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Content Area Start-->
<div class="content checkout-page">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <!-- Registered User -->
        <div *ngIf="displayName" class="row">
          <div class="col-12">
            <div class="border-block customer-block">
              <h3 class="form-heading">Checkout method </h3>
              <label>You are checking out as</label>
              <img [src]="displayImage" />
              <span class="ml-1">{{displayName}}</span>
              <div>Not you? Too bad</div>
            </div>
          </div>
        </div>

        <!-- Anonymous user -->
        <div *ngIf="!displayName" class="row">
          <div class="col-12">
            <div class="border-block customer-block">
              <h3 class="form-heading">CHECKout method </h3>
              <form class="form-gap">
                <h4 class="form-heading">Anonymous customer</h4>
                <button type="submit" class="btn btn-default">
                  PROCEED WITH ANONYMOUS CHECKOUT
                </button>
              </form>
              <form (submit)="firebaseLogin()" class="form-gap">
                <h4 class="form-heading">REGISTERED CUSTOMERS</h4>
                <span class="common-text">If you have an account with us, please log in.</span>
                <p>
                  By creating an account with our store, you will be able to move through the check out process faster, store miltiple shippoing addresses, view and track your orders in your account and more
                </p>
                <button type="submit" class="btn btn-default">
                  LOGIN / REGISTER
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="border-block shipping-adrs-block">
              <h3 class="form-heading">Shipping ADDRESS</h3>
              <div>
                {{addresses|json}}
              </div>
              <form class="form-gap clearfix">
                <span class="chk-option"> <label for="r4">
                    <input type="checkbox" name="chk1" value="c1" id="r4" />
                    <span class="chk-btn"> <span></span> </span> Ship to billing address? </label> </span>
                <div class="registered-customer">
                  <label>registered customers</label>
                  <textarea name="about" placeholder="Notes about your order, e.g. special notes for delivery..."></textarea>
                </div>
                <button type="submit" class="btn btn-default">
                  CONTINUE
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 order-summary">
        <form>
          <div class="border-block table-section">
            <h3 class="form-heading">Order summary</h3>
            <table class="table-block">
              <thead>
                <tr>
                  <th class="product">Product</th>
                  <th class="total">Tatal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  <div class="summary-block clearfix">
                    <figure class="product-pic">
                      <img src="assets/images/check-img1.jpg" alt="image" />
                    </figure>
                    <span class="product-name">Faded Short Blouse </span>
                  </div></td>
                  <td class="prdct-price prdct-price-top"><span class="amount">$229</span></td>
                </tr>
                <tr>
                  <td class="sub-total">Cart Subtotal</td>
                  <td class="prdct-price"><span class="amount">$229</span></td>
                </tr>
                <tr>
                  <td class="sub-total">Shipping:</td>
                  <td class="prdct-price"><span class="amount">$0.00</span></td>
                </tr>
                <tr>
                  <td class="sub-total">Order Total</td>
                  <td class="prdct-price"><span class="amount">$229</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="border-block payment-block">
            <h3 class="form-heading">PAYMENT METHOD</h3>
            <div class="form-gap">
              <span class="option"> <label for="r5">
                  <input type="radio" name="radio1" value="v1" id="r5" />
                  <span class="radio-btn"> <span></span> </span> Direct Bank Transfer </label> </span>
              <p>
                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.
              </p>
              <span class="option"> <label for="r6">
                  <input type="radio" name="radio1" value="v1" id="r6" />
                  <span class="radio-btn"><span></span> </span> PayPal </label> </span>
            </div>
          </div>
          <button type="submit" class="btn btn-default">
            PLACE ORDER
          </button>
        </form>
      </div>
    </div>
  </div>
</div>