h5, h6 {
  border-left: 2px solid #ddd;
  margin-bottom: 0;
  max-width: 170px;
  padding-left: 1rem;
  word-wrap: break-word;
}

img {
  height: 30px;
}

@media (min-width: 992px) {
  img {
    height: 40px;
  }
}

.navbar > .container {
  flex-wrap: nowrap;
}
