<div class="product-description">
  <figure class="product-image">
    <img [src]="imgUrl" class="product-icon" [alt]="game.name" />
    <div class="overlay">
      <div class="product-view-block">
        <div class="product-view clearfix">
          <a href="assets/images/img8.jpg" class="zoom icon_zoom-in_alt single_image">
          </a><a href="#" class="data-report icon_datareport"></a>
          <a href="#" class="heart icon_heart_alt"></a>
        </div>
        <button (click)="addToCart(game)" type="button" class="btn add-cart">ADD TO CART</button>
      </div>
    </div>
  </figure>
  <div class="about-product">
    <h4>
      <a href="#" class="item-name">{{game.name}}</a>
    </h4>
    <span class="review-icon clearfix"> <i
      class="icon_star active"></i> <i class="icon_star active"></i> <i
      class="icon_star active"></i> <i class="icon_star active"></i> <i
      class="icon_star"></i>
    </span> <span class="price"><span>{{game.sellPrice | currency: '₱'}}</span>&nbsp; <rupee-price [price]="game.sellRupees"></rupee-price></span>
  </div>
</div>