<los-loading-wrapper [isLoading]="isLoading">
  <form (submit)="saveTransaction()" ngNativeValidate>
    <div class="modal-header">
      <h4 class="modal-title">{{ project.name }}
        <br><small class="text-muted">Create Transaction</small>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close({ msg: 'Cross click' })">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="!accounts.length" class="modal-body container-fluid">There are no available accounts for which to create transactions.</div>
    <div *ngIf="accounts.length" class="modal-body container-fluid">
      <div class="row">
        <div class="col">
          <table>
            <thead>
              <th>Entry Date
              <th>Account
              <th>Debit
              <th>Credit
            </thead>
            <tbody>
              <tr *ngFor="let entry of entries; let idx = index;" class="mt-1">
                <td class="entry-date"><input type="date" [(ngModel)]="entry.entryDate" name="entryDate-{{idx}}" class="form-control" required />
                <td>
                  <ng-select
                    [(ngModel)]="entry.account"
                    name="account-{{idx}}" placeholder="Select an Account"
                    [searchable]="true"
                    [selectOnTab]="true"
                    [clearable]="false"
                    groupBy="parentAccountName"
                    [ngStyle]="{ 'width' : '200px' }"
                    [required]="true">
                      <ng-template ng-optgroup-tmp let-item="item">
                        <span [title]="item.parentAccountName">{{item.parentAccountName || 'Unnamed group'}}</span>
                      </ng-template>
                    <ng-option *ngFor="let account of accounts" [value]="account">
                      {{ account.name }}
                    </ng-option>
                  </ng-select>
                </td>
                <td><input type="number" [(ngModel)]="entry.debit" (change)="recomputeDebit()" name="debit-{{idx}}" class="form-control" required />
                <td><input type="number" [(ngModel)]="entry.credit" (change)="recomputeCredit()" name="credit-{{idx}}" class="form-control" required />
              </tr>
              <tr>
                <td>
                <td>
                <td>{{ totalDebit | currency: '₱ '}}
                <td>{{ totalCredit | currency: '₱ '}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <button (click)="addEntry()" type="button" class="btn btn-primary">Add entry</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</los-loading-wrapper>
