<los-loading-wrapper [isLoading]="isLoading">
  <form (submit)="saveTransaction()" ngNativeValidate>
    <div class="modal-header">
      <h4 class="modal-title">{{ project.name }}
        <br><small class="text-muted">Create Transaction</small>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="!accounts.length" class="modal-body container-fluid">There are no available accounts for which to create transactions.</div>
    <div *ngIf="accounts.length" class="modal-body container-fluid">
      <div class="row">
        <div class="col-4">
          <label for="txn-date">Transction Date</label>
          <input type="date" [(ngModel)]="transaction.transactionDate" name="txn-date" class="form-control" required />
        </div>
        <div class="col-8">
          <label for="txn-desc">Description</label>
          <input type="text" max="255" [(ngModel)]="transaction.description" name="txn-desc" class="form-control" 
            placeholder="A short description of this transaction" required />
        </div>
      </div>
      <hr />
    </div>
    <div *ngIf="accounts.length" class="modal-body container-fluid">
      <div class="row">
        <div class="col">
          <table>
            <thead>
              <th>Entry Date
              <th>Account
              <th>Debit
              <th>Credit
            </thead>
            <tbody>
              <tr *ngFor="let entry of entries; let idx = index;" class="mt-1">
                <td class="entry-date"><input type="date" [(ngModel)]="entry.entryDate" name="entryDate-{{idx}}" class="form-control" required />
                <td>
                  <ng-select
                    [(ngModel)]="entry.account"
                    name="account-{{idx}}" placeholder="Select an Account"
                    [searchable]="true"
                    [selectOnTab]="true"
                    [clearable]="false"
                    groupBy="parentAccountName"
                    [ngStyle]="{ 'width' : '200px' }"
                    [required]="true">
                      <ng-template ng-optgroup-tmp let-item="item">
                        <span [title]="item.parentAccountName">{{item.parentAccountName || 'Unnamed group'}}</span>
                      </ng-template>
                    <ng-option *ngFor="let account of accounts" [value]="account">
                      {{ account.name }}
                    </ng-option>
                  </ng-select>
                </td>
                <td><input type="number" [(ngModel)]="entry.debit" min="0" (change)="recomputeTotalDebit()" name="debit-{{idx}}" class="form-control" required />
                <td><input type="number" [(ngModel)]="entry.credit" min="0" (change)="recomputeTotalCredit()" name="credit-{{idx}}" class="form-control" required />
                <td>
                  <span *ngIf="entries.length > 1" title="Remove entry" (click)="entries.splice(idx, 1)" style="cursor: pointer" class="pl-2"><i class="fa fa-times"></i></span>
                  <span *ngIf="entries.length === 1" title="Can't remove. A transaction must have at least one entry." style="cursor: pointer" class="pl-2"><i class="text-muted fa fa-times">&nbsp;</i></span>
                </td>
              </tr>
              <tr>
                <td>
                <td>
                <td>{{ totalDebit | currency: '₱ '}}
                <td>{{ totalCredit | currency: '₱ '}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <button (click)="addEntry()" type="button" class="btn btn-primary">Add entry</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="error" class="text-danger text-center">{{error}}</div>
      <button type="submit" class="btn btn-secondary">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</los-loading-wrapper>
