#admin-change-password {
  width: 30%;
  margin: 15% auto;

  .robinsons-bank-logo {
    height: 100%;
    width: 100%;
  }

  .label {
    text-align: center;
  }

  div {
    margin: 5%;
  }

  .change-password-btn button {
    width: 100%;
  }

  .change-password-success div {
    text-align: center;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .show-password-toggle {
    margin: 2%;
  }

}
