<los-loading-wrapper [isLoading]="isLoading">
  <div class="upload-file-form">
    <div class="column">
      <label>
        <span *ngIf="!readonly">Attach </span>
        <span>
        {{ label }}
      </span>
      </label>
    </div>
    <!--file preview-->
    <div class="column mb-2 mr-4 ml-4" *ngIf="imagePreview">
      <img class="preview-image" [src]="imagePreview" alt="{{ label }}"
           onError="this.onerror=null;this.src='assets/images/no-preview-available.jpg';">
    </div>
    <div class="column mb-2 mr-4 ml-4 upload-file-name" *ngIf="fileName" title="{{ fileName }}">
      <span>{{ fileName }}</span>
    </div>
    <div class="column">
      <input type="file" accept="image/png, image/jpeg, image/bmp, image/tiff, application/pdf"
             style="display: none" (change)="fileChange($event)" capture="camera"
             class="form-control" aria-label="Loan Amount" #fileUploadInput>
      <button type="button" class="btn upload-file-button" (click)="fileUploadInput.click()" *ngIf="!readonly">
        <i class="fa fa-upload"></i> Choose Image
      </button>
      <los-form-input-error [showMessage]="control.invalid && (control.dirty || control.touched) && control.errors.required"
                            [message]="'Please upload your ' + label">
      </los-form-input-error>
      <los-form-input-error [showMessage]="fileSizeExceed"
                            [message]="'File size exceeded'">
      </los-form-input-error>
    </div>
  </div>
</los-loading-wrapper>
