@import 'app';

$top-nav-height: 65px;
$footer-height: 15px;

.main {
  height: calc(100% - #{$top-nav-height} - #{$footer-height});
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  position: fixed;
  top: $top-nav-height;
  bottom: $footer-height;
}

.content {
  padding: 1.5rem 1rem;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
