@import 'app';

.search-input {
  width: 200px;
  display: inline-block;
}

.borrower-details {
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;

  .rank,
  .tenure {
    font-size: 12px;
  }
}

.coMaker {
  text-overflow: ellipsis;
  overflow: hidden;
}

.referenceNumber {
  text-decoration: underline;
}

.message-container {
  height: 65px;
  vertical-align: middle;
  display: table;
  width: 100%;
  border:1px solid $gray-300;
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 65px;
  font-size: 20px; // fa-2x is too big
  color: $red;
  cursor: pointer;
}

.success-message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  > .icon {
    color: $secondary;
  }
}


.pendingFilter {
  display: inline-block;
  width: 250px;
}

.disabled {
  opacity: 0.65;
}

.bordered-input {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.select-company {
  width: 150px;
}

:host ::ng-deep datatable-body-cell {
  overflow: visible !important;
}
