<div class="container-fluid">
  <div class="row">
    <div class="col text-right">
      <button (click)="createTransaction()" class="btn btn-primary"><i class="fa fa-plus"></i> Create Transaction</button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <los-loading-wrapper [isLoading]="isLoading">
        <ngx-datatable
          class="material"
          [rows]="transactions"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'80px'"
          [messages]="{ emptyMessage: this.noRecordsMsg }"
          [scrollbarH]="false"
          [externalPaging]="true"
          [externalSorting]="true"
          [count]="searchQuery.totalElements"
          [offset]="searchQuery.page"
          [limit]="searchQuery.size"
          (sort)="onSort($event)"
          [sorts]="[{prop: 'transactionDate', dir: 'desc'}]">
          <!-- columns -->
          <ngx-datatable-column [minWidth]="50" [width]="50" [maxWidth]="50">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span><input type="checkbox" /></span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span><input type="checkbox" /></span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Txn Date" prop="transactionDate" [minWidth]="150" [width]="150" [maxWidth]="150"></ngx-datatable-column>
          <ngx-datatable-column name="Description" prop="description" [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column name="Amount (₱)" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <h6 class="text-success text-right">{{row.amount | number: '1.2'}}</h6>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [minWidth]="200" [width]="200" [maxWidth]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="btn-group">
                <button (click)="viewTransaction(row)" type="button" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> View</button>
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-primary  btn-xs dropdown-toggle-split" ngbDropdownToggle></button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>One</button>
                    <button ngbDropdownItem>Two</button>
                    <button ngbDropdownItem>Four!</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- footer -->
          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-curPage="curPage">
              <div *ngIf="rowCount > 0" class="footer-wrapper">
                <span> Total: {{ rowCount }} </span>
                <div>
                  <!--<span>Items per page:</span>-->
                  <!--<mat-form-field fxFlexOffset="5px" class="item-per-page">-->
                  <!--<mat-select [(ngModel)]="itemsPerPage" (selectionChange)="itemsPerPageChanged($event)">-->
                  <!--<mat-option *ngFor="let item of DATATABLE_ITEMS_PER_PAGE" [value]="item">{{ item }}</mat-option>-->
                  <!--</mat-select>-->
                  <!--</mat-form-field>-->
                  <datatable-pager
                    [page]="curPage"
                    [size]="pageSize"
                    [count]="rowCount"
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    (change)="setPage($event)">
                  </datatable-pager>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </los-loading-wrapper>
    </div>
  </div>
</div>
