<los-loading-wrapper [isLoading]="isSubmitting" [fullScreen]="true">
  <section class="bg-light">
    <div class="rounded-0 m-0 py-3">
      <div class="container">
        <h3 class="text-center mb-0">{{ appState?.companyLoanSettings.company.name }}</h3>
      </div>
    </div>
  </section>

  <main class="py-4">
    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" class="container" [navigationMode]="'semi-strict'">
      <!-- co maker details -->
      <aw-wizard-step [stepTitle]="'Co Maker Details'" [canExit]="canExitCoMakerDetails" (stepExit)="continue(false)">
        <ng-template awWizardStepSymbol><i class="fa fa-handshake"></i></ng-template>
        <!-- employment details -->
        <los-section-title class="mt-4 d-block" title="Employment Details" [dateApplied]="createdDate"></los-section-title>
        <div class="container my-4">
          <div class="row">
            <div class="col-12">
              <los-employment-details-form #coMakerEmploymentDetailsForm
                                           type="coMaker"
                                           (handleSubmitSuccess)="submitCoMakerEmploymentDetailsSuccess($event)"
                                           (handleSubmitFailed)="submitCoMakerEmploymentDetailsFailed()"
                                           (isValid)="isCoMakerEmploymentDetailsValid($event)">
              </los-employment-details-form>
            </div>
          </div>
        </div>
        <!-- coMaker personal details form -->
        <los-section-title class="mt-4 d-block" title="Co Maker Details"></los-section-title>
        <div class="container my-4">
          <div class="row">
            <div class="col-12">
              <los-personal-details-form #coMakerPersonalDetailsForm
                                         [initialValue]="appState.coMakerPersonalDetails"
                                         [type]="'coMaker'"
                                         (handleSubmitSuccess)="submitCoMakerPersonalDetailsSuccess($event)"
                                         (handleSubmitFailed)="submitCoMakerPersonalDetailsFailed()"
                                         (isValid)="isCoMakerPersonalDetailsValid($event)">
              </los-personal-details-form>
            </div>
          </div>
        </div>
        <!-- coMaker complete address form -->
        <los-section-title #completeAddressPanel class="mt-4 d-block" title="Complete Address"></los-section-title>
        <div class="container my-4">
          <div class="row">
            <div class="col-12">
              <los-complete-address-form #coMakerCompleteAddressForm
                                         (handleSubmitSuccess)="submitCoMakerCompleteAddressSuccess($event)"
                                         (handleSubmitFailed)="submitCoMakerCompleteAddressFailed()"
                                         (isValid)="isCoMakerCompleteAddressValid($event)">
              </los-complete-address-form>
              <div class="d-flex justify-content-around mt-5" >
                <button type="button" class="btn btn-secondary" (click)="continue()">
                  Continue &nbsp;<i class="fa fa-arrow-right"></i>  </button>
              </div>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <!-- upload document attachments -->
      <aw-wizard-step [stepTitle]="'Upload Documents'" [canExit]="canExitUploadDocuments" (stepExit)="continue(false)">
        <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
        <los-section-title class="mt-4 d-block" title="Upload Document Attachments"></los-section-title>
        <div class="container mt-4">
          <div class="row">
            <div class="col-12">
              <los-upload-document-attachments-form #uploadDocumentAttachmentsForm
                                                    [type]="'coMaker'"
                                                    (handleSubmitSuccess)="submitUploadDocumentAttachmentsSuccess($event)"
                                                    (handleSubmitFailed)="submitUploadDocumentAttachmentsFailed()"
                                                    (isValid)="isUploadDocumentAttachmentsValid($event)">
              </los-upload-document-attachments-form>

              <div class="d-flex justify-content-around mt-5">
                <button type="button" class="btn btn-outline-primary" awPreviousStep>
                  <i class="fa fa-arrow-left"></i>&nbsp; Previous</button>
                <button type="button" class="btn btn-secondary" (click)="continue()">
                  Continue &nbsp;<i class="fa fa-arrow-right"></i>  </button>
              </div>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <!-- summary -->
      <aw-wizard-step [stepTitle]="'Review'" [canEnter]="exitCoMakerDetails && exitUploadDocuments">
        <ng-template awWizardStepSymbol><i class="fa fa-info-circle"></i></ng-template>
        <!--review coMaker details-->
        <los-section-title class="d-block" title="Review Co-maker Details"></los-section-title>
        <div class="container mt-4">
          <div class="row">
            <div class="col-12">
              <los-personal-details-form [readonly]="true" [initialValue]="appState.coMakerPersonalDetails" type="coMaker"></los-personal-details-form>
              <div class="d-flex justify-content-center mt-2 mb-4">
                <button type="button" class="btn btn-secondary" (click)="goBackToStep(0)">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- review coMaker complete address -->
        <!-- use awGoToStep directive instead of goBackToStep() because we want to use a finalize function -->
        <los-section-title class="d-block" title="Review Co-maker Complete Address"></los-section-title>
        <div class="container mt-4">
          <div class="row">
            <div class="col-12">
              <los-complete-address-form [readonly]="true" [initialValue]="appState.coMakerCompleteAddress"></los-complete-address-form>
              <div class="d-flex justify-content-center mt-2 mb-4">
                <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepIndex: 0 }" (postFinalize)="scrollCompleteAddressIntoView()">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </div>
            </div>
          </div>
        </div>

        <los-section-title class="d-block" title="Review Employment Details"></los-section-title>
        <div class="container mt-4">
          <dl class="row">
            <div class="col-12">
              <los-employment-details-form [readonly]="true"
                                           [initialValue]="appState.coMakerEmploymentDetails"
                                           type="coMaker">
              </los-employment-details-form>
              <div class="d-flex justify-content-center mt-2 mb-4">
                <button type="button" class="btn btn-secondary" (click)="goBackToStep(0)">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </div>
            </div>
          </dl>
        </div>
        <!-- review attachments -->
        <los-section-title class="d-block" title="Review Attachments"></los-section-title>
        <div class="container mt-4 mb-4">
          <div class="row">
            <div class="col-12">
              <los-upload-document-attachments-form [readonly]="true"
                                                    [initialValue]="appState.uploadDocumentAttachmentsDetails">
              </los-upload-document-attachments-form>
              <div class="d-flex justify-content-center mt-2 mb-4">
                <button type="button" class="btn btn-secondary" (click)="goBackToStep(1)">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-secondary py-2">
          <div class="container d-flex">
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <form [formGroup]="aFormGroup">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="isAccepted" [(ngModel)]="isAccepted"
                     name="isAccepted" formControlName="formCheck">
              <label class="form-check-label" for="isAccepted">
                I certify all information are true and correct to the best of my knowledge.
              </label>
            </div>
            <div class="d-flex justify-content-center my-4">
              <ngx-recaptcha2
                [siteKey]=siteKey
                formControlName="recaptcha"></ngx-recaptcha2>
            </div>
            <div class="d-flex justify-content-center my-4">
              <button type="button" class="btn btn-lg btn-secondary px-5 font-weight-bold text-uppercase"
                      [ngClass]="{'disabled': !isAccepted}" [disabled]="!isAccepted || isSubmitting || aFormGroup.invalid" (click)="submit()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </main>
</los-loading-wrapper>
