.product-image {
  text-align: center;
}
.product-icon {
  max-height: 350px;
  height: 350px;
  max-width: 270px;
  width: 270px;
}
.item-name {
}

div.block-heading {
  width: 100%;
}

ul.product-block {
  width: 570px;
}

.border-image {
  top: 30px !important;
}