<div class="common-banner forcefullwidth_wrapper_tp_banner">
  <div class="container">
    <div class="row">
      <div class="main-banner-text col-12">
        <span>Shopping Cart</span>
        <ul class="banner-nav">
          <li><a routerLink="/">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li class="active"><a href="#">Shopping Cart</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Content Area Start-->
<div *ngIf="shoppingCart.itemCount" class="content">
  <!-- Cart Section Starts Here -->
  <div class="cart-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Cart Items Starts Here -->
          <div class="cart-item">
            <h3>your cart items</h3>
            <table class="table custom-table">
              <thead>
                <tr>
                  <th colspan="1">product name</th>
                  <th>price</th>
                  <th style="white-space: nowrap;">currency</th>
                  <th colspan="2">total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of shoppingCart.buyItems">
                  <td data-product="product name" class="cart-fig">
                    <figure>
                      <img src="assets/images/cart-1.jpg" alt="" />
                    </figure>
                    <div class="cart-description">
                      <h4>{{item.game.name}}</h4>
                      <span>{{item.game.shortName}} - Qty : <strong>1</strong></span>
                      <span>With case? <strong>Yes</strong></span>
                    </div>
                  </td>
                  <td data-price="price" class="cart-price-head">
                    <div class="cart-price"><peso-amount [amount]="item.game.sellPrice"></peso-amount></div>
                    <div class="cart-price"><rupee-amount [amount]="item.game.sellRupees"></rupee-amount></div>
                  </td>
                  <td data-quantity="quantity" class="cart-quantity">
                    <select>
                      <option value="cash">Cash</option>
                      <option value="rupees"><img src="assets/images/green_rupee.png" style="height: 20px;"> Rupees</option>
                    </select>
                  </td>
                  <td data-total="total" class="cart-total">
                    <span class="cart-price">
                      <peso-amount *ngIf="item.currency=='CASH'" [amount]="item.buyPrice"></peso-amount>
                      <rupee-amount *ngIf="item.currency=='RUPEES'" [amount]="item.buyPrice"></rupee-amount>
                    </span>
                  </td>
                  <td class="cart-btn"><a href="#" class="trash"><i
                      class="fa fa-trash"></i></a><a href="#" class="pencil"><span
                      class="icon_pencil" aria-hidden="true"></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Cart Items Starts Here -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button (click)="clearShoppingCart()" class="btn shopping-btn" type="button">clear shopping cart</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="cart-form">
            <h3>
              calculate shipping <span class="after-icon"><span
                class="icon_minus-06" aria-hidden="true"></span></span>
            </h3>
            <form>
              <select class="select">
                <option value="">united kingdom (UK)</option>
                <option value="1">germany</option>
                <option value="2">france</option>
                <option value="3">italy</option>
              </select> <input type="text" placeholder="State / Country" /> <input
                type="text" placeholder="Postcode / Zip" /> <input
                type="submit" value="GET A QUOTE" />
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="cart-form">
            <h3>
              coupon discount <span class="after-icon"><span
                class="icon_minus-06" aria-hidden="true"></span></span>
            </h3>
            <span class="enter-coupon">Enter your coupon code if
              you have one.</span>
            <form>
              <input type="text" placeholder="Enter your code here !" />
              <input type="submit" value="APPLY Coupon" />
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="cart-checkout">
            <div class="total">
              <span class="sub-total">sub total <strong>$126.00</strong></span>
              <span class="grand-total">grand total <strong>$126.00</strong></span>
            </div>
            <a href="#" class="cart-proceed">proceed to checkout</a> <a
              href="#" class="checkout-with">Checkout with Mutilple
              Adresses</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Section Ends Here -->
</div>

<div *ngIf="!shoppingCart.itemCount" class="content mb-3 text-center">
  <h3>Shopping cart is empty, bruh<br><a routerLink="/">Home</a></h3>
</div>