<div class="modal" role="dialog">
  <div class="pop-up-box">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span class="icon_close" aria-hidden="true"></span>
    </button>
    <div class="pop-up-text-wrap">
      <div class="pop-up-text">
        <h2>newsletter</h2>
        <p>Subscribe to the LookShop mailing list to receive
          updates on new arrivals, special offers and other
          discount information</p>
        <form>
          <input type="text"
            placeholder="Enter your email address" /> <input
            type="submit" value="subscribe" /> <input
            type="checkbox" id="dont-show" /> <label
            for="dont-show"> <span><i
              class="fa fa-check"></i></span> Don’t show this popup again
          </label>

        </form>
      </div>
    </div>
  </div>
</div>
