<div class="modal" role="dialog">

  <div [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}"  class="pop-up-box">

    <div class="pop-up-text-wrap">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span class="icon_close" aria-hidden="true"></span>
      </button>
      <div class="pop-up-text">
        <h2>you are {{mode}}ing {{game.name}}</h2>
        <p *ngIf="mode === 'BUY'">This will cost <peso-amount [amount]="orderItem.buyPrice"></peso-amount></p>
        <button (click)="addToCart()" type="button" class="btn btn-default">Proceed</button>
        <button (click)="activeModal.close()" type="button" class="btn btn-default ml-3">Never mind</button>
      </div>
    </div>
  </div>

</div>
