div.pop-up-box {
  background-position: center;
}
.pop-up-text-wrap {
  background: black;
  opacity: 0.9;
  padding-top: 0;
}
.pop-up-text {
  margin-top: 50px;
  width: 100%;
}

#add-to-cart-modal-rupee-payment-note {
  color: white;
}
#add-to-cart-modal-text {
  margin-bottom: 0;
}
#add-to-cart-modal-login {
  text-decoration: underline;
  cursor: pointer;
}
#add-to-cart-modal-cost-info {
  margin-top: 25px;
}