<figure class="item-image">
  <a href="#"><img [src]="imgUrl" [alt]="item.game.name" /></a>
</figure>
<div class="item-description">
  <a href="#" class="item-name">{{item.game.name}}</a> 
  <span class="review-icon clearfix">
    <i class="icon_star active"></i> <i
    class="icon_star active"></i> <i
    class="icon_star active"></i> <i
    class="icon_star active"></i> <i
    class="icon_star"></i>
  </span>
  <strong class="price">
    <peso-amount *ngIf="item.currency == 'CASH'" [amount]="item.buyPrice"></peso-amount>
    <rupee-amount *ngIf="item.currency == 'RUPEES'" [amount]="item.buyPrice"></rupee-amount>
  </strong>
</div>
<span (click)="removeItem()" class="delete fa fa-trash"> </span>