<section id="hero" class="">
</section>

<section class="main container-fluid pb-5 bg-light">
  <!-- Steps to apply -->
  <div class="hero-panel">
    <div class="position-relative">
      <section class="py-2 container">
        <h5 class="text-center text-white font-weight-bold mb-5">
          Apply Salary Loan Online in easy steps and get approved fast.</h5>
        <div class="d-flex justify-content-around text-white text-center">
          <div class="step px-md-4 px-lg-0">
            <i class="fa fa-calculator fa-2x"></i>
            <p class="p-2 small">Select your Loan Amount and Payment Terms</p>
          </div>
          <div class="step px-md-4 px-lg-0">
            <i class="fa fa-laptop fa-2x"></i>
            <p class="p-2 small">Fill out and attach all required documents</p>
          </div>
          <div class="step px-md-4 px-lg-0">
            <i class="fa fa-check-square fa-2x"></i>
            <p class="p-2 small">Review and submit your application, and wait for approval</p>
          </div>
        </div>
      </section>
    </div>

    <div class="container" *ngIf="companyLoanSettings">
      <los-loan-calculator class="bg-primary d-flex flex-column text-white rounded-lg px-5"></los-loan-calculator>
    </div>
  </div>
</section>

<main>
  <div class="bg-white py-4">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex">
          <div class="card col">
            <!-- Product description -->
            <section class="py-3 px-lg-4">
              <h5 class="text-center text-secondary font-weight-bold mb-4">
                Qualifications for Go! Salary Loan
              </h5>
              <p class="text-center">The following are eligible to apply for a loan:</p>
              <ul>
                <li><i class="fa fa-check"></i>&nbsp; A Filipino Citizen</li>
                <li><i class="fa fa-check"></i>&nbsp; A least 1 year tenure in the company</li>
                <li><i class="fa fa-check"></i>&nbsp; A Lorem ipsum</li>
                <li><i class="fa fa-check"></i>&nbsp; A dolor sit amet</li>
                <li><i class="fa fa-check"></i>&nbsp; A Co-maker for ...</li>
              </ul>
            </section>
          </div>
        </div>

        <div *ngIf="companyLoanSettings" class="col-lg-6 d-lg-flex mt-lg-0 mt-3">
          <div class="card col">
          <!-- Documentary Requirements -->
          <section class="py-3 px-lg-4">
            <h5 class="text-center text-secondary font-weight-bold mb-4">List of Required Attachments</h5>
            <p class="text-center">The following are the documents needed to be uploaded:</p>
            <ul>
              <li *ngFor="let document of companyLoanSettings?.requiredDocumentation">
                <i class="fa fa-check"></i>&nbsp; {{ document }}</li>
            </ul>
          </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


