img {
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}

los-loan-calculator {
  position: relative;
}

ul li {
  list-style: none;
}

#hero {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100vw;
  background: #003138;

  &:before {
    content: "";
    position: relative;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: url('/assets/images/products_and_services.jpg') no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
    filter: blur(5px) brightness(50%) opacity(70%);
    width: 100vw;
    height: 300px;
  }
}

.main {
  margin-bottom: -260px;
}

.hero-panel {
  position: relative;
  top: -260px;
}

.step {
  width: 200px;

  &:after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 50px;
    margin-left: 10%;
    top: 50%;
  }

  &:last-child:after {
    display: none;
  }
}
