<div id="admin-change-password">
  <div class="row logo">
    <img class="robinsons-bank-logo" src="/assets/images/robinsonsbank1.png" alt="Robinson's Bank Logo">
  </div>
  <!--change password form-->
  <form autocomplete="off" novalidate (submit)="changePassword()" [formGroup]="changePasswordForm" #form="ngForm"
        *ngIf="!passwordChangeSuccess">
    <div class="label">
      Create a new password
    </div>
    <div class="row email-address">
      <small>Email Address</small>
      <input type="text" class="form-control" id="email" formControlName="email">
      <los-form-input-error [showMessage]="email.invalid && (email.dirty || email.touched) && email.errors.required"
                            [message]="'Please enter your Email Address'">
      </los-form-input-error>
    </div>
    <div class="row password">
      <small>Current Password</small>
      <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
      <los-form-input-error [showMessage]="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)
                                            && currentPassword.errors.required"
                            [message]="'Please enter your current Password'">
      </los-form-input-error>
    </div>
    <div class="row password">
      <small>New Password</small>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
      <div class="show-password-toggle">
      <span class="remember-me ml-3">
        <input class="form-check-input" type="checkbox" value="" id="showPasswordToggle" (click)="showPassword()">
        <small class="form-check-label">
          <label for="showPasswordToggle">Show Password</label>
        </small>
      </span>
      </div>
      <los-form-input-error [showMessage]="newPassword.invalid && (newPassword.dirty || newPassword.touched)
                                            && newPassword.errors.required"
                            [message]="'Please enter your new Password'">
      </los-form-input-error>
      <los-form-input-error [showMessage]="newPassword.invalid && (newPassword.dirty || newPassword.touched)
                                            && (newPassword.errors.minlength || newPassword.errors.maxlength)"
                            [message]="'Password must be 8-20 characters'">
      </los-form-input-error>
      <los-form-input-error [showMessage]="newPassword.invalid && (newPassword.dirty || newPassword.touched)
                                            && newPassword.errors.pattern"
                            [message]="'Password must contain at least one uppercase letter, and one special character'">
      </los-form-input-error>
    </div>
    <div class="row change-password-btn">
      <button type="submit" class="btn btn-secondary">CHANGE PASSWORD</button>
    </div>
    <div class="row back-to-login">
      <small class="ml-auto"><a href="/admin/login">Back to Log In</a></small>
    </div>
  </form>
  <div class="row change-password-success" *ngIf="passwordChangeSuccess">
    <div>
      Password Change Successful!
    </div>
    <div class="row">
      <button type="button" class="btn btn-secondary" (click)="continueLogin()">OK</button>
    </div>
  </div>
</div>
