<div *ngIf="!smallScreen" class="sidenav">
  <ng-select
    [(ngModel)]="selectedProject"
    (change)="selectProject($event)"
    id="project" name="project" placeholder="Select a Project"
    [searchable]="true"
    [selectOnTab]="true"
    [clearable]="false"
    [ngStyle]="{ 'width' : '200px' }">
    <ng-option *ngFor="let project of projects" [value]="project">
      {{ project.name }}
    </ng-option>
  </ng-select>
  <ul class="links">
    <li>
      <a routerLink="/bookkeeping/chart-of-accounts" [queryParams]="{ projectCode: selectedProject ? selectedProject.code : ''}" routerLinkActive="active">
        <i class="fas fa-fw fa-balance-scale"></i> Chart of Accounts
      </a>
    </li>
    <li>
      <a routerLink="/bookkeeping/transactions" [queryParams]="{ projectCode: selectedProject ? selectedProject.code : ''}" routerLinkActive="active">
        <i class="fas fa-fw fa-balance-scale"></i> Transactions
      </a>
    </li>
    <li>
      <a routerLink="/bookkeeping/balance-sheet" [queryParams]="{ projectCode: selectedProject ? selectedProject.code : ''}" routerLinkActive="active">
        <i class="fas fa-fw fa-list-ol"></i> Balance Sheet
      </a>
    </li>
    <li>
      <a routerLink="/bookkeeping/notifications" [queryParams]="{ projectCode: selectedProject ? selectedProject.code : ''}" routerLinkActive="active">
        <i class="fas fa-fw fa-envelope"></i> Notifications
      </a>
    </li>
  </ul>
</div>

<!-- Hamburger navigation menu -->
<mbsc-hamburger-nav *ngIf="smallScreen">
    <mbsc-nav-item [selected]="currentNav == 'home'">Home</mbsc-nav-item>
    <mbsc-nav-item [selected]="currentNav == 'feed'">Feed</mbsc-nav-item>
    <mbsc-nav-item [selected]="currentNav == 'settings'">Settings</mbsc-nav-item>
</mbsc-hamburger-nav>