<div class="sidenav">
  <ng-select
    [(ngModel)]="selectedProject"
    (change)="selectProject($event)"
    id="project" name="project" placeholder="Select a Project"
    [searchable]="true"
    [selectOnTab]="true"
    [clearable]="false"
    [ngStyle]="{ 'width' : '200px' }">
    <ng-option *ngFor="let project of projects" [value]="project">
      {{ project.name }}
    </ng-option>
  </ng-select>
  <ul class="links">
    <li>
      <a routerLink="/bookkeeping/chart-of-accounts" routerLinkActive="active">
        <i class="fas fa-balance-scale"></i> Chart of Accounts
      </a>
    </li>
    <li>
      <a routerLink="/bookkeeping/transactions" routerLinkActive="active">
        <i class="fas fa-balance-scale"></i> Transactions
      </a>
    </li>
  </ul>
</div>
