<div class="container-fluid">
  <los-loading-wrapper [isLoading]="isLoading">
  <div *ngIf="error" class="row">
    <div class="col text-danger">{{ error }}</div>
  </div>

  <ng-container *ngIf="!error && !isLoading">
  <div class="row">
    <div class="col text-center">
      <h3>{{ project?.name}}</h3>
      <div>Apartment Details</div>
    </div>
  </div>
  <div class="row mt-3 mb-5">

    <div class="col-12">
      <dl>
        <dt>Name
        <dd>{{apartment.name}}
        <dt>Address
        <dd>{{apartment.address}}
      </dl>
    </div>

  </div>
  </ng-container>
  </los-loading-wrapper>
</div>
